<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>图书管理系统 - 管理</title>
    <link href="http://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/material-design-lite/1.3.0/material.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/mycss.css">
</head>

<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Home</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>
        </div>
    </header>

    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" >
        <header class="demo-drawer-header" id="nav">
            <img src="./image/user.jpg" class="demo-avatar">
            <div class="demo-avatar-dropdown">
                <span>{{user.username}}</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <a href="/user/logout"><li class="mdl-menu__item">Exit</li></a>
                </ul>
            </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a v-link="/" class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                                  role="presentation">home</i>Books</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                       role="presentation">people</i>People</a>
        </nav>
    </div>

    <main class="mdl-layout__content mdl-color--grey-100" id="app">
        <div class="mdl-grid">
            <table id="book-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>author</th>
                    <th>publisher</th>
                    <th>category</th>
                    <th>price</th>
                    <th>page</th>
                    <th>ISBN</th>
                    <th>borrow</th>
                    <th>operate</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="book in books">
                    <td>{{book.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{book.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{book.author}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{book.publisher}}</td>
                    <td>{{book.category.name}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.page}}</td>
                    <td>{{book.isbn}}</td>
                    <td>
                        <button v-on:click="checkBox($event)"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            check
                        </button>
                        <button v-on:click="deleteClick($event)"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            delete
                        </button>
                    </td>
                </tr>
                <tr><td colspan=""></td></tr>
                </tbody>
            </table>

            <form id="add-form" style="display: none;" method="post">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="name" name="name">
                    <label class="mdl-textfield__label" for="name">name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="author" name="author">
                    <label class="mdl-textfield__label" for="author">author</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="publisher" name="publisher">
                    <label class="mdl-textfield__label" for="publisher">publisher</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="category" name="category">
                    <label class="mdl-textfield__label" for="category">category</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="price" name="price">
                    <label class="mdl-textfield__label" for="price">price</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="page" name="page">
                    <label class="mdl-textfield__label" for="page">page</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="ISBN" name="ISBN">
                    <label class="mdl-textfield__label" for="ISBN">ISBN</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" id="description" name="description"></textarea>
                    <label class="mdl-textfield__label" for="description">description</label>
                </div>
                <div>
                    <button id="add" type="button" v-on:click="addBook"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        Add
                    </button>
                    <button id="back" type="button" v-on:click="backMain"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        Back
                    </button>
                </div>
            </form>

            <form  id="see-form" style="display: none;" method="post">
                <div class="mdl-textfield mdl-js-textfield" style="display: none">
                    <input class="mdl-textfield__input" type="text" id="see-id" name="id" v-model="this_book.id">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="see-name" name="name" v-model="this_book.name">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="see-author" name="author" v-model="this_book.author">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="see-publisher" name="publisher" v-model="this_book.publisher">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="see-category" name="category" v-model="this_book.category.id">
                    <input class="mdl-textfield__input" type="text" v-model="this_book.category.name" readonly="readonly">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="see-price" name="price" v-model="this_book.price">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="see-page" name="page" v-model="this_book.page">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="see-ISBN" name="ISBN" v-model="this_book.isbn">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" id="see-description" name="description" v-model="this_book.description"></textarea>
                </div>
                <div>
                    <button id="update" type="button" v-on:click="updateBook"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        Update
                    </button>
                    <button id="back" type="button" v-on:click="backMain"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        Back
                    </button>
                </div>
            </form>

        </div>

        <button v-on:click="showAdd" id="add-button"
                class="add-btn mdl-button mdl-js-button mdl-button--fab mdl-button--colored">+
        </button>
    </main>

</div>



<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/material-design-lite/1.3.0/material.min.js"></script>
<script src="http://cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
<script src="./js/myjs.js"></script>
</body>
</html>