<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>图书管理系统</title>
    <link href="http://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/material-design-lite/1.3.0/material.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/mycss.css">
</head>

<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Home</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>
        </div>
    </header>

    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header" id="nav">
            <img src="./image/user.jpg" class="demo-avatar">
            <div class="demo-avatar-dropdown">
                <span>您好，{{user.username}}</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <a href="/user/logout">
                        <li class="mdl-menu__item">Exit</li>
                    </a>
                </ul>
            </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a href="javascript:void(0);" onclick="changeMain('app')"
               class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                       role="presentation">home</i>Books</a>
            <a href="javascript:void(0);" onclick="changeMain('my')"
               class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                       role="presentation">people</i>My</a>
        </nav>
    </div>

    <main class="mdl-layout__content mdl-color--grey-100" id="app" style="display: none;">
        <div class="mdl-grid">
            <table id="book-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>author</th>
                    <th>publisher</th>
                    <th>category</th>
                    <th>price</th>
                    <th>page</th>
                    <th>ISBN</th>
                    <th>borrow</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="book in books">
                    <td>{{book.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric"><a v-on:click="checkBox(book.id)">{{book.name}}</a>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{book.author}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{book.publisher}}</td>
                    <td>{{book.category.name}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.page}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.borrower}}</td>
                </tr>

                </tbody>
            </table>

            <div id="see-form" style="margin-left: auto; margin-right: auto; display: none;">
                <input style="display: none" type="text" id="see-id" v-model="this_book.id">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <tr>
                        <td>name：</td>
                        <td class="mdl-data-table__cell--non-numeric">{{this_book.name}}</td>
                    </tr>
                    <tr>
                        <td>author：</td>
                        <td class="mdl-data-table__cell--non-numeric">{{this_book.author}}</td>
                    </tr>
                    <tr>
                        <td>publisher：</td>
                        <td class="mdl-data-table__cell--non-numeric">{{this_book.publisher}}</td>
                    </tr>
                    <tr>
                        <td>category：</td>
                        <td class="mdl-data-table__cell--non-numeric">{{this_book.category.name}}</td>
                    </tr>
                    <tr>
                        <td>price：</td>
                        <td class="mdl-data-table__cell--non-numeric">{{this_book.price}}</td>
                    </tr>
                    <tr>
                        <td>ISBN：</td>
                        <td class="mdl-data-table__cell--non-numeric">{{this_book.isbn}}</td>
                    </tr>

                </table>
                <div style="margin-top: 20px">
                    <button id="return" type="button" v-on:click="returnBook" v-if="this_book.canReturn"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        Return
                    </button>
                    <button id="borrow" type="button" v-on:click="borrowBook" v-if="this_book.canBorrow"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        Borrow
                    </button>
                    <button id="read" type="button" v-on:click="readBook" v-if="this_book.canRead"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        I hava read it
                    </button>
                    <button id="back" type="button" v-on:click="backMain"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        Back
                    </button>
                </div>
            </div>

        </div>
    </main>

    <main class="mdl-layout__content mdl-color--grey-100" id="my" style="display: none;">
        <div class="mdl-tabs mdl-js-tabs">
            <div class="mdl-tabs__tab-bar">
                <a href="#tab1-panel" class="mdl-tabs__tab is-active">我借的书</a>
                <a href="#tab2-panel" class="mdl-tabs__tab">我看过的书</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="tab1-panel">
                <table id="borrow-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin-left: auto; margin-right: auto;">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>author</th>
                        <th>publisher</th>
                        <th>category</th>
                        <th>price</th>
                        <th>page</th>
                        <th>ISBN</th>
                        <th>operate</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="book in borrowBooks">
                        <td>{{book.id}}</td>
                        <td class="mdl-data-table__cell--non-numeric"><a>{{book.name}}</a>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">{{book.author}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{book.publisher}}</td>
                        <td>{{book.category.name}}</td>
                        <td>{{book.price}}</td>
                        <td>{{book.page}}</td>
                        <td>{{book.isbn}}</td>
                        <td>
                            <button v-on:click="returnBook(book.id)"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                还书
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-tabs__panel" id="tab2-panel">
                <table id="read-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin-left: auto; margin-right: auto;">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>author</th>
                        <th>publisher</th>
                        <th>category</th>
                        <th>price</th>
                        <th>page</th>
                        <th>ISBN</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="book in readBooks">
                        <td>{{book.id}}</td>
                        <td class="mdl-data-table__cell--non-numeric"><a>{{book.name}}</a>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">{{book.author}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{book.publisher}}</td>
                        <td>{{book.category.name}}</td>
                        <td>{{book.price}}</td>
                        <td>{{book.page}}</td>
                        <td>{{book.isbn}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </main>

</div>


<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/material-design-lite/1.3.0/material.min.js"></script>
<script src="http://cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
<script src="./js/myjs.js"></script>
</body>
</html>